.body {
    background-color: hsla(0, 0%, 100%, 0.75);
}

.grid {
    display: grid;
    grid-template-rows: 380px 380px 380px;
    grid-template-columns: 270px;
    justify-content: center;
    margin: 150px;
}

.Sedans {
    text-align: left;
    padding: 35px 39px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 14px;
}

.SUVs {
    text-align: left;
    padding: 35px 39px;
    font-size: 14px;
}

.Luxury {
    text-align: left;
    padding: 35px 39px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 14px;
}

h1 {
    font-family: 'Big Shoulders Display', cursive;
    color: hsl(0, 0%, 95%);
}

.button {
    position: relative;
    top: 70px;
    text-align: center;
    width: 120px;
    padding: 10px 0px;
    border-radius: 22px;
    background-color: hsl(0, 0%, 95%);
    font-size: 14px;
}

.bg1 {
    background-color: hsl(31, 77%, 52%);
}

.bg2 {
    background-color: hsl(184, 100%, 22%);
}

.bg3 {
    background-color: hsl(179, 100%, 13%);
}

.color1 {
    color: hsl(31, 77%, 52%);
}

.color2 {
    color: hsl(184, 100%, 22%);
}

.color3 {
    color: hsl(179, 100%, 13%);
}

.font {
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
}